nav{
    display: flex;
    justify-content: left;
    background-color: #eee;
    padding: 20px;
    margin-bottom: 50px;
}
a{
    font-size: 25px;
    text-decoration: none;
    margin: 0 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

a:hover{
    color: indigo;
}